body {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

h1 {
  font-size: 75px;
  text-align: center;
  background-color: #66b6d2;
  border: dotted black 20px;
  padding: 20px;
  margin: 30px;
}

.aboutmephoto {
  width: 350px;
  height: 250px;
  padding: 20px;
  margin-top: 40px;
  margin-left: 10%;
  margin-right: 40px;
}

.aboutme {
  float: left;
  width: 35%;
  background-color: #66b6d2;
  margin: 30px;
  text-align: center;
  padding: 20px;  
  border: 10px solid black;
}

.projects {
  background-color: #66b6d2;
  width: 50%;  
  margin-left: 43%;
  margin-top: 60px; 
  text-align: left;
  padding: 20px;
  border: 10px solid black;
}

.desc {
  font-style: italic;
  color:#f3cfb4;  
}

h2 {
  font-size:40px; 
  font-weight:lighter;
  text-align: center;
}

.interests {
  text-align: left;
}

h1 {
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 100%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}