body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 75px;
  text-align: center;
  background-color: #66b6d2;
  border: dotted black 5px;
  padding: 20px;
  margin: 30px;
}

.aboutmephoto {
  width: 350px;
  height: 250px;
  padding: 20px;
  margin-top: 40px;
  margin-left: 10%;
  margin-right: 40px;

}

.aboutme {
  float: left;
  width: 40%;
  background-color: #66b6d2;
  margin: 30px;
  text-align: center;
}

.projects {
  background-color: #66b6d2;
  width: 55%;  
  margin-left: 43%;
  margin-top: 60px; 
  text-align: center;
}